.task-container {
    max-width: 100%;
    display: flex;
    justify-content: center; 
}

.task-status {
    width: 100px; 
    margin-left: 20px;
    padding-top: 10px;
    text-align: center;
    white-space: nowrap;
    border-radius: 5px;
}