.task-status.planned {
    width: 60px;
    height: 30px;
    color: rgb(85, 85, 85);
    background-color: rgb(226, 226, 226);
}

.task-status.in-progress {
    width: 100px;
    height: 30px;
    color: rgb(36, 113, 255);
    background-color: rgb(177, 217, 255);
}

.task-status.completed {
    width: 70px;
    height: 30px;
    color: rgb(53, 167, 59);
    background-color: rgb(206, 255, 212);
}

.task-status.archive {
    width: 70px;
    height: 30px;
    color: rgb(167, 53, 53);
    background-color: rgb(255, 206, 206);
}

.task-list-planned,
.task-list-in-progress,
.task-list-completed,
.task-list-archive {
    margin-top: 40px;
    list-style: none;
    text-align: left;
}

.task-list-planned {
    margin-left: -100px;
}

.task-list-planned li {
    padding-left: 10px;
    border-color: rgb(226, 226, 226);
}

.task-list-in-progress {
    margin-left: -140px;
}

.task-list-in-progress li {
    padding-left: 10px;
    border-color: rgb(177, 217, 255);
}

.task-list-completed {
    margin-left: -110px;
}

.task-list-completed li {
    padding-left: 10px;
    border-color: rgb(206, 255, 212);
}

.task-list-archive {
    margin-left: -110px;
}

.task-list-archive li {
    padding-left: 10px;
    border-color: rgb(255, 206, 206);
}

.task-item {
    width: 200px;
    height: 30px;
    padding-top: 10px;
    margin-top: 10px;
    border-left: 4px solid;
    border-radius: 5px;
    background-color: white;
}